@import 'normalize';

$red: #ef1356;
$black: #000000;
$darkgrey: #363739;
$drkrgrey: #262729;
$offwhite: #EEEEEE;
$blue: #0099CC;
$medgrey: #7A7A7B;
$teal: #58DFE3;
$lblue: #5AD2F5;
$fader: linear-gradient(135deg, rgba(85,239,203,1) 0%,rgba(30,87,153,1) 0%,rgba(85,239,203,1) 0%,rgba(91,202,255,1) 80%);

@mixin transition($args...) {
	-webkit-transition: $args;
	-moz-transition: $args;
	-ms-transition: $args;
	-o-transition: $args;
	transition: $args;
}

@mixin border-radius($radius) {
  	-webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    -o-border-radius: $radius;
    border-radius: $radius;
}

@mixin transform($val) {
	-webkit-transform: $val;
	-moz-transform: $val;
	-ms-transform: $val;
	-o-transform: $val;
	transform: $val;
}

@mixin transform-style($val) {
	-webkit-transform-style: $val;
	-moz-transform-style: $val;
	-ms-transform-style: $val;
	-o-transform-style: $val;
	transform-style: $val;
}

@mixin transform-origin($val) {
	-webkit-transform-origin: $val;
	-moz-transform-origin: $val;
	-ms-transform-origin: $val;
	-o-transform-origin: $val;
	transform-origin: $val;
}

body {
	font-size:16px;
	font-family:helvetica;
	font-weight:100;
	width: 100%;
	height:100%;
	position:absolute;
	margin:0;
	overflow-x:hidden;
	letter-spacing: .3rem;
	a{
	cursor: pointer;
	}
}
.wow {
	visibility: hidden;
}
.hidden {
	display:none;
}
a, a:visited {
	outline:none;
}
@media screen and (max-width: 29em) {
	.fadingContent {
    	background-size: 7.5rem auto;
	    h1 {
		  margin:1rem 0 0;
		  font-size: 2.2rem;
	    }
	    h2 {
	    	font-size:.9rem;
	    }
	}
	.popup_project {
		margin: .25rem auto;
		.prjctImgWrap {
			margin: .75rem auto 1rem;
		}
		h1 {
		  font-size: 2.2rem;
		  margin: .5rem 0;
		}
	    h2 {
	    	font-size:.9rem;
	    	margin: 0 0 1rem 0;
	    }
	    p {
			letter-spacing: 1px;    	
	    }
	    a {
	    	margin: 1.5rem auto;
	    	text-align: center;
	    	width: 60%;
	    	display: block;
	    	padding: .75rem 0;
	    	letter-spacing: 1px;
	    }
	}
	#darrow {
		bottom: 20%;
		width:2.2rem;
		margin-left:-1.15rem;
	}
	#uparrow {
		bottom: 3%;
		width:2rem;
		margin-left:-1rem;
	}
	.btnWrpr, .btnWrprSngl {
		width: 100%;
	}
}
@media screen and (min-width: 29.063em) { 
	.popup_project {
		margin: .25rem auto;
	    p {
			letter-spacing: 2px;    	
	    }
	    a {
	    	letter-spacing: 2px;
	    }
		.btnWrpr {
			width: 50%;
			float:left;
			.prjctBtnLft {
			    float: right;
			}
			.prjctBtnRgt {
			    float: left;
			}
		}
		.btnWrprSngl {
			width: 100%;
			text-align: center;
		}
		.prjctBtnSngl {
			display: inline-block;
		}
	}
}

@media screen and (min-width: 29.063em) and (max-width:40em) { 
	.fadingContent {
		margin-top:1%;
    	background-size: 9.5rem auto;
	    h1 {
		  margin:1rem 0 0;
		  font-size: 2.7rem;
	    }
	    h2 {
	    	font-size:1.1rem;
	    }
	}
	.popup_project {
		.prjctImgWrap {
			width: 90%;
			margin: 1rem auto 1.5rem;
		}
		h1 {
		  font-size: 2.7rem;
		  margin: .5rem 0;
		}
	    h2 {
	    	font-size:1rem;
	    	margin: 0 0 1rem 0;
	    }
	    a {
		    padding: .75rem 1.5rem;
	    }
		.prjctBtnLft {
		    margin: .5rem 1.75rem 2rem 0;
		}
		.prjctBtnRgt {
		    margin: .5rem 0 2rem 1.75rem;
		}
		.prjctBtnSngl {
		    margin: .5rem auto 2rem;
		}
	}
	#darrow {
		bottom: 20%;
		width:2.5rem;
		margin-left:-1.25rem;
	}
	#uparrow {
		bottom: 3%;
		width:2.2rem;
		margin-left:-1.1rem;
	}
}
@media screen and (max-width: 40em) {
	#top-nav, .portOverlay, figcaption {
		display:none;
	}
	#mblIcon {
		cursor: pointer;
		height: 1.5rem;
		width: 2rem;
		position: fixed;
		right: .75rem;
		top: .75rem;
		z-index: 9999;	
	}
	#hamb {
		background:$medgrey;
		width: 1.8rem;
		height:.2rem;
		position:fixed;
		top:.75rem;
		right:.75rem;
		z-index: 9999;
		@include transition(all .2s ease-in-out);
		@include border-radius(2px);
	}
	#hamb:before {
		content:"";
		background:$medgrey;
		width: 1.8rem;
		height:.2rem;
		margin-top:.5rem;
		float:right;
		right:.75rem;
		z-index: 9999;
		@include transition(all .2s ease-in-out);
		@include border-radius(2px);
	}
	#hamb:after {
		content:"";
		background:$medgrey;
		width: 1.8rem;
		height:.2rem;
		margin-top:.3rem;
		float: right;
		right:.75rem;
		z-index: 9999;
		@include transition(all .2s ease-in-out);
		@include border-radius(2px);
	}
	#hamb.active {
		background:#44D2EA;
		@include transform(rotate(45deg));
		top:1.3rem;
		right: .8rem;
	}
	#hamb.active:before {
		background:#44D2EA;
		margin-top:0rem;
		@include transform(rotate(-90deg));		
	}
	#hamb.active:after {
		background:#44D2EA;
		margin-top: -.2rem;
		@include transform(rotate(-90deg));
	}
	#mobile {
		width:100%;
		background: rgba(0, 0, 0, 0) url("/img/ios-linen-sml.jpg") no-repeat center center / cover ;
		padding-top: 1rem;
		position:fixed;
		top:0;
		z-index: 999;
		nav {
			ul {
			text-align: center;
			padding: 1rem 0;
			margin:0;
			}
			li {
			list-style: none;
			padding: 1rem;
			margin:0 5%;
			border-bottom:solid 1px $medgrey;
			}
			li:last-child {
			border-bottom:none;
			}
			a { 
			color:$offwhite;
			text-decoration:none;
			}
			a:hover {
				color:$lblue;
				text-decoration: underline;
			}
		}		
	}
	.text {
		font-size:.8rem;
	}
	#bottomHalf {
		background: rgba(0, 0, 0, 0) url("/img/ios-linen-sml.jpg") no-repeat center center / cover ;
	}
	#contact {
		background: rgba(0, 0, 0, 0) url("/img/ios-linen-sml.jpg") no-repeat center center / cover ;
		padding: 3rem 0 0;
		height: 30rem;
		p {
			font-size:1rem;		
		}
	}
	#darrow {
		bottom: 20%;
		margin-left:-1.15rem;
	}
	#uparrow {
		bottom: 3%;
		margin-left:-1rem;
	}
	h3 {
		font-size:1.2rem;
	}
	#main a {
	    margin: 22% 0 0 10%;
	    padding:.5rem;		
	}
	#home {
		height:100%;
		
	}
	#skills {
		padding-top: 4rem;
		p {
			padding: 0 1.5rem 2.5rem;	
		}
	}
	.third, .thirdp {
		width:90%;
		margin: 1rem auto;
	}
	#work {
		margin-top: .75rem;
		h3 {
			margin: .5rem 0 2.5rem;
		}
		p {
			font-size:.9rem;
			span {
				font-size:.7rem;
			}
		}
	}
	#portfolio {
		padding:2rem 0; 
		figure {
			padding-bottom: .5rem;
		}
		figure:nth-child(6) {
			padding-bottom:0;
		}
	}
	#about {
		padding: 2.5rem 0;
		p{
			padding: 2rem 2rem 1rem;
		}
	}
	.selfRound img {
		width: 7rem;
		height: 7rem;
	}
	.social a {
		font-size: 1.4rem;
		padding: 0 .8rem;
	}
	.formWrap {
		width:85%;
	}
	form {
		margin:1.8rem auto 1rem;
		input, textarea {
			width:95%;
			padding: .4rem;
		}
		button {
	   		padding: .9rem 4.5rem;
			margin: 0 auto;
			display:block;
		}
	}
	.inputs label {
	  top: .6rem;
	  left: .5rem;
	  font-size:.85rem;
	}
	.formIcon {
	  top: .5rem;
	  right: .5rem;
	  font-size:.85rem;
	}
	.inputs {
		 input:focus ~ label,
		 input:valid ~ label,
		 textarea:focus ~ label,
		 textarea:valid ~ label {
		  top: -.65rem;
		  @include transition(all 0.3s ease);
		  font-size: .7rem;
		}
	}
	.inputs .inputBar {
	  	width: 98.5%;
	}
	.btnDone.fa {
		padding: 1.5% 0 0 2.5%;
	}
	.mfp-close {
		color: $drkrgrey;
	}
}
@media screen and (min-width: 40.063em) {
	.sticky {
		position:fixed;
		width:100%;
		top: 0;
	}
	#top-nav.sticky ul {
		margin:0;
	}
	#darrow {
		width:2.7rem;
		bottom: 2rem;
		margin-left:-1.35rem;
	}
	#uparrow {
		width:2.4rem;
		bottom: 1.8rem;
		margin-left:-1.35rem;
	}
	#home {
		height:100%;		
	}
	#skills {
		padding-top:3rem;
	}
	h3 {
		font-size: 1.4rem;
	}
	#work p {
		padding-bottom:0;
	}
	.third, .thirdp {
		float:left;
	}
	.thirdp {
		width:46%;
		margin: 2%;
	}
	#portfolio {
		padding:4.5rem 0;
	}
	.social a {
		font-size: 1.5rem;
		padding: 0 1rem;
	}
	form {
		margin:2rem auto 5rem;
		button {
	   		padding: 1rem 5rem;
			float:right;
		}
	}
	.prjctImgWrap {
		margin: 1.75rem auto 2rem;
	}
}
@media screen and (min-width: 40.063em) and (max-width:64em) {
	#home {
		
	}
 	.portOverlay, figcaption {
		display:none;
	}
	.wrap, .wrapp {
		width:90%;
	}
	#hamb {
		display: none;
	}
	#mobile {
		display:none;
	}
	#top-nav {
		ul {
    	padding: 1rem 0;
    	}
		li {
		padding:1rem 1%;
		}
		a { 
		font-size:.9rem;
		padding:1rem .5rem;
		}
	}
	.fadingContent {
		margin-top: 2%;
	    background-size: 10rem auto;
	    h1 {
		  margin:1.5rem 0 0 0;
		  font-size: 3.75rem;
	    }
	    h2 {
		  font-size:1.2rem;    	
	    }
	}	
	.popup_project {
		h1 {
		  	font-size: 3rem;
		  	margin: .5rem 0;
		}
	    h2 {
	    	font-size:1.1rem;
	    	margin: 0 0 1rem 0;
	    }
	    a {
		    padding: 1rem 2rem;
	    }
		.prjctBtnLft {
		    margin: .5rem 1.75rem 2rem 0;
		}
		.prjctBtnRgt {
		    margin: .5rem 0 2rem 1.75rem;
		}
		.prjctBtnSngl {
		    margin: .5rem auto 2rem;
		}
	}
	.mfp-close {
		color: $drkrgrey;
	}
	#bottomHalf, .sticky {
		background: rgba(0, 0, 0, 0) url("/img/ios-linen-med.jpg") no-repeat center center / cover ;
	}
	.third {
		width:30%;
		margin: 1.5%;
	}
	#skills {
		padding:4rem 0 2.5rem;
		p {
			padding: 1rem .5rem;	
		}
	}
	#work {
		padding-top:3.7rem;
		h3 {
			margin: .75rem 0 3rem;
		}
		p {
			padding-top:1.25rem;
			font-size:.9rem;
			span {
				font-size:.7rem;
			}
		}
	}
	#about {
		padding: 4rem 0;
		p {
			padding: 2rem 2rem 0;
		}
	}
	.selfRound img {
		width: 8rem;
		height: 8rem;
	}
	#contact {
		background: rgba(0, 0, 0, 0) url("/img/ios-linen-med.jpg") no-repeat center center / cover ;
		padding:4rem 0 5rem;
		height: 33rem;
		p{
			font-size:1.1rem;
		}
	}
	.formWrap {
		width:60%;
	}
	form {
		input, textarea {
			width:94%;
			padding: .5rem;
		}
		textarea {
			height:10rem;
		}
	}
	.inputs label {
	  top: .5rem;
	  left: 6%;
	  font-size:.9rem;
	}
	.formIcon {
	  top: .5rem;
	  right: 6%;
	  font-size:.9rem;
	}
	.inputs {
		 input:focus ~ label,
		 input:valid ~ label,
		 textarea:focus ~ label,
		 textarea:valid ~ label {
		  top: -.6rem;
		  @include transition(all 0.3s ease);
		  font-size: .8rem;
		  left:3%;
		}
	}
	.inputs .inputBar, #submitBtn {
	  width: 97.5%;
	}
	.btnDone.fa {
		padding: .5% 0 0 1.2%;
	}
}
@media screen and (min-width: 64.063em) {
	#home {
		
	}
	.wrap {
		width:85%;
		max-width:112em;
	}
	.wrapp {
		width:90%;
		max-width:112em;
	}
	#hamb {
		display: none;
	}
	#mobile {
		display:none;
	}
	#top-nav {
		ul {
    	padding: 1.5rem 0;
    	}
		li {
		padding:1rem 2%;
		}
		a { 
		font-size:1rem;
		padding:1.5rem 1rem;
		}
	}
	.fadingContent {
		margin-top: 3%;
	    background-size: 10.5rem auto;
	    h1 {
		  margin:1.5rem 0 0 0;
		  font-size: 3.95rem;
	    }
	    h2 {
		  font-size:1.3rem;    	
	    }
	}	
	#bottomHalf, .sticky {
		background: rgba(0, 0, 0, 0) url("/img/ios-linen.jpg") no-repeat center center / cover ;
	}
	.third {
		width:30%;
		margin: 1.5%;
	}
	.thirdp {
		overflow: hidden;
		img {
			@include transition(opacity 0.5s ease-in-out 0s, all ease .5s);
		}
		.portOverlay {
			background-color:$medgrey;
		    height: 100%;
		    left: 0;
		    position: absolute;
		    top: 0;
		    width: 100%;
		    z-index: 2;
		    @include transition(background-color 0.35s ease-in-out 0s, opacity 0.35s ease-in-out 0s);
	  		opacity: 0;	
		}
		figcaption {
			position: absolute;
			z-index: 3;
			top: 0px;
			right: 0px;
			bottom: 0px;
			left: 0px;
			text-align:center;
			h3 {
				font-family: 'Julius Sans One', sans-serif;
			    opacity: 0;
			    color: #CCC;
				bottom: 50%;
				margin: 0 0 .75rem 0;
				letter-spacing: .15rem;
				@include transform(translate3d(0px, -3rem, 0px));
				@include transition(opacity 0.45s ease-in-out 0s, transform 0.45s ease-in-out 0s);
			}
			p {
			    opacity: 0;
				color: #CCC;
			    line-height: 1.45;
			    text-align: center;
			    font-weight: 100;
				top: 50%;
				padding: .75rem 0 0 0;
				@include transform(translate3d(0px, 3rem, 0px));				
				@include transition(opacity 0.45s ease-in-out 0s, transform 0.45s ease-in-out 0s);
			}
		}
		figcaption:before {
			content: ' ';
		    display: inline-block;
		    vertical-align: middle;
		    height: 100%;
		}
		.captionWrap {
			display: inline-block;
			vertical-align: middle;
		}
		.divider {
			.inputBar {
			  position: relative;
			  display: block;
			  margin:0 auto;
			}
			.inputBar:before,
			.inputBar:after {
			  content: "";
			  display: block;
			  position: absolute;
			  bottom: 0;
			  width: 0;
			  background: $lblue;
			  height: 1px;
			  @include transition(all 0.45s ease);
			}
			.inputBar:after {
			  right: 50%;
			}
			.inputBar:before {
			  left: 50%;
			}		    
		}
	}
	.thirdp:hover {
	  img {
	  	transform: scale(1.05);
	  }
	  h3 {
	    opacity: 1;
	    bottom: 0;
		@include transform(translate3d(0px, 0px, 0px));
	  }
	  p {
	    opacity: 1;
	    top: 0;
		@include transform(translate3d(0px, 0px, 0px));
	  }
	  .divider {
	    width: 100%;
			.inputBar:before,
			.inputBar:after,
			.inputBar:before,
			.inputBar:after {
			  width: 50%;
			  overflow:hidden;
			}
	  }
	  .portOverlay {
	    background: $drkrgrey;
	    opacity: .95;
	  }
	}
	#skills {
		padding:5rem 0 3rem;
		p {
			padding: 1rem 1.5rem;	
		}
	}
	#work {
		padding-top:5rem;
		h3 {
			margin-bottom: 4rem;
		}
		p {
			font-size:1.1rem;
			span {
				font-size:.9rem;
			}
		}
	}
	#about {
		padding: 4.5rem 0 2.5rem;
		p {
			padding:2rem;
		}
	}
	.selfRound img {
		width: 9rem;
		height: 9rem;
	}
	#contact {
		background: rgba(0, 0, 0, 0) url("/img/ios-linen.jpg") no-repeat center center / cover ;
		padding:5rem 0 6rem;
		height:35rem;
		p {
			font-size:1.2rem;
			margin:0 0 3rem;		
		}
	}
	h3 {
		font-size: 1.6rem;
	}
	.formWrap {
		width:60%;
	}
	form {
		input, textarea {
			width:75%;
			padding: .5rem;
		}
		textarea {
			height:10rem;
		}
		button {
			margin-top: 1rem;
		}
	}
	.inputs label {
	  top: .5rem;
	  left: 13.5%;
	  font-size:1rem;
	}
	.formIcon {
	  top: .5rem;
	  right: 13.5%;
	  font-size:1rem;
	}
	.inputs {
		 input:focus ~ label,
		 input:valid ~ label,
		 textarea:focus ~ label,
		 textarea:valid ~ label {
		  top: -.8rem;
		  left:12%;
		  @include transition(all 0.3s ease);
		  font-size: 13px;
		}
	}
	.inputs .inputBar, #submitBtn {
	  width: 77.5%;
	}
	.btnDone.fa {
		padding: .3% 0 0 .6%;
	}
	.popup_project {
		margin: 1.5rem auto;
		h1 {
		  font-size: 3.1rem;
		  margin: 1.5rem 0 .75rem;
		}
	    h2 {
	    	font-size:1.3rem;
	    	margin: 0 0 1.5rem;
	    }
	    a {
		    padding: 1rem 2.5rem;
	    }
		.prjctBtnLft {
		    margin: 0rem 2rem 2rem 0;
		}
		.prjctBtnRgt {
		    margin: 0rem 0 2rem 2rem;
		}
		.prjctBtnSngl {
		    margin: 0rem auto 2rem;
		}
}
	.mfp-close {
		color: $offwhite;
	}
}
@media screen and (min-width: 90.063em) {
	.fadingContent {
	    background-size: 11.5rem auto;
		margin-top: 4%;
	    h1 {
		  margin:1.5rem 0 0 0;
		  font-size: 4.1rem;
	    }
	    h2 {
		  font-size:1.4rem;    	
	    }
	}	
	.popup_project {
		h1 {
		  font-size: 3.3rem;
		}
	    h2 {
	    	font-size:1.4rem;
	    }
	}
	#darrow {
		bottom: 2.5rem;
		width:2.9rem;
		margin-left:-1.45rem;
	}
	#uparrow {
		bottom: 2rem;
		width:2.5rem;
		margin-left:-1.75rem;
	}
	.main_text {
		font-size: 3.2rem;
	}
	#home {
		//max-height:51rem;		
	}
	.thirdp {
		width:30%;
		margin: 1.5%;
	}
	#about {
		padding: 5.5rem 0 3rem;
	}
	.selfRound img {
		width: 10rem;
		height: 10rem;
		padding-bottom:1rem;
	}
	.inputs {
		margin: 0 auto 1rem;
		width:50rem;
	}
	#submitBtn {
		width:50rem;
		button {
			margin-right: 5.75rem;
		}
	}
	.clrLft {
		clear:left;
	}
}
#home {
	width:100%;
	position:relative;
}

#main {
	color:#a9aaaa;
	width:100%;
	padding: 1rem 0;
	display:block;
	a {
	    color: #c5c5c5;
	    display: inline-block;
	    text-decoration: none;
	    font-weight: 100;
	}
}
#top-nav {
    width: 100%;
    z-index: 999;
   	nav {
		ul {
    	margin: 3.9% 0;
    	text-align: center;		}
		li {
		list-style: none;
		display: inline;
		}
		a { 
		color:#ccc;
		text-decoration:none;
		font-weight: 100;
		border:solid 1px rgba(0,0,0,0);
		}
		a:hover {
		@include transition(ease .5s);
		color:$lblue;
		border:solid 1px $offwhite;
		}
	}
}
.topConWrap {
	background:$fader;
    height: 100%;
    margin: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9;
}
.fadingContent {
	align-items: center;
    background-image: url("/img/big_e.png");
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    font-weight: 200;
    height: 52%;
    justify-content: center;    
    h1 {
	  text-align:center;
	  font-weight:100;
	  letter-spacing: -1px;
	  color:#252627;
    }
    h2 {
		font-family: 'Julius Sans One', sans-serif;
    }
}
.text {
	text-align:center;
  	color:#555;
  	letter-spacing:.4rem;
}
#darrow {
	position:absolute;
	left: 50%;
	padding:.15rem;
}
#bottomHalf {
	position:absolute;
	bottom:0;
	height:48%;
	width:100%;
	z-index: 99;
}
#uparrow {
	position:fixed;
	z-index:999;
	left:50%;
	padding:.15rem;
}
.pageWrap {
	width: 100%;
	position: relative;
	z-index: 9;
	background-color:$offwhite;
}
.wrap, .wrapp, #submitBtn { 
	margin:0 auto;
	overflow:hidden;
}
#submitBtn {
	padding-right:1px;
}
.active{
	color:#0CF;
}
#skills {
	width:100%;
	overflow: hidden;
	p{
		margin:0;
		letter-spacing: .15rem;
		line-height: 1.5rem;
	}
}
.third, .thirdp {
	position: relative;
	p {
		text-align: center;
	}
	img {
		width:100%;
		height:auto;
		display: block;
	}
	img.skills {
	width:30%;
	min-width: 8rem; 
	height:auto;
	margin: 0 auto 1rem;
	display: block;
}
	i {
		text-align:center;
		display:block;
		color:$medgrey;
	}
}
#work {
	width:100%;
	position:relative;
	z-index: 9;
	h3 {
		position:inherit;
		z-index: 99;
		color:#252627;
		font-family: 'Julius Sans One', sans-serif;
	}
	p {
		color:#555;
		text-align: center;
		font-style: italic;
		width: 80%;
		font-size:.9rem;
		margin:0 auto;
		padding: 1rem 1.5rem;	
		span {
			font-size:.7rem;
		}
	}
}
#about {
	z-index: 9;
	position: relative;
	p {
		letter-spacing: .15rem;
		line-height: 1.5rem;
		text-align: center;
	}
}
.selfRound {
	margin: 0;
	display:flex;
	justify-content:center;
}
.social {
	list-style: none;
	padding: 0;
	text-align: center;
	li {
		display:inline;
	}
	a {
		color:#3c3c3c;
		@include transition(.3s ease);
	}
	a:hover {
		color: $offwhite;
	}
}
#contact {
	width:100%;
	overflow: hidden;
	p{
		color:$lblue;
	}
}
.formWrap {
	margin:0 auto;
}
form {
	input, textarea {
		letter-spacing: .15rem;
    	display: block;
		margin:0 auto;
		border: none;
		border-bottom: 1px solid $medgrey;
		background: none;
		color: #CCC;
		outline: none;
  	}
  	input:invalid, textarea:invalid {
  		box-shadow:none;
  	}
  	input::-ms-clear {
  		display:none;
  	}
	textarea {
		height:10rem;
		resize:none;
	}
	button {
		background: transparent;
	    border: 1px solid $medgrey;
	    box-shadow: none;
	    color: #ccc;
	    position: relative;
	    @include transition(all 0.3s);
	    @include transform-style(preserve-3d);
		outline:none;
			.fa {
			position:absolute; 
			left:0;
			right:0;
			text-align: center;
			opacity:0;
			bottom: 1rem;
		}
	}
	button:hover {
		@include transition(.5s ease);
		background:$fader;
		border: 1px solid #252627;
		span {
			opacity:0;
		}
		.btnStatic {
			@include transition(.5s ease);
			opacity:1;
			color:#252627;
		}
	}
	button:before {
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		line-height: 50px;
		cursor: default;
	}
	button:before{
		top:-100%;
		background: #FC4363;
		color: $darkgrey;
		content:attr(data-error);
		@include transform(rotateX(90deg));
		@include transform-origin(0% 100%);
	}
	button.subError  {
		background: $fader;
		@include transform(rotateX(-90deg) translateY(100%));
		@include transform-origin(50% 100%);
	}
	button.subSuccess {
		background: $fader;
	}
}
.loader {
	display: none;
	width: 80px;
	height: 80px;
	position:absolute;
	left: 0;
	right: 0;
	top: 11.2rem;
	@include border-radius(50%);
	box-shadow: 0 0 2px $darkgrey;
	margin: 0 auto;
	&:before {
		content: "";
		position:absolute;
		width: 100%;
		height:100%;
		@include border-radius(50%);
		background:linear-gradient($lblue, $darkgrey 60%);
		animation: spin .8s infinite linear;
	}
	&:after {
		content: "";
		position:absolute;
		width: 95%;
		height: 95%;
		top:2.5%;
		left:2.5%;
		background: rgba(0, 0, 0, 0) url("/img/ios-linen-loader.jpg") no-repeat center center / cover ;
		@include border-radius(50%);	
		box-shadow: 0 0 2px $darkgrey;
	}
}
@keyframes spin {
	to {
		@include transform(rotate(360deg));
	}
}
.btnDone.fa {
	display: none;
	opacity: 1;
	left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 12rem;
    &:before {
	font-size:3rem;    	
	color: $lblue;
    }
}
.inputs {
	position:relative;
	margin-bottom: 1rem;
}
.inputs label {
  position: absolute;
  pointer-events: none;
  @include transition(all 0.3s ease);
  color: #CCC;
  .fa {
  	color: $medgrey;
  	outline: 1px solid transparent;
  }
}
.inputs {
	input:focus ~ label,
	input:valid ~ label,
	textarea:focus ~ label,
	textarea:valid ~ label {
		color:$medgrey;
		opacity: .3;
	}
}
.formIcon {
	position: absolute;
}
.formIcon.check-square-o {
  	color: $lblue;
}
.formIcon.exclamation-triangle {
  	color: #FC4363;
}
.inputs:nth-child(4) {
	i.check-square-o {
  		top: 9.4rem;			
	}
}
.inputs input:focus ~ .inputBar:before,
.inputs input:focus ~ .inputBar:after,
.inputs textarea:focus ~ .inputBar:before,
.inputs textarea:focus ~ .inputBar:after {
  width: 50%;
  overflow:hidden;
}
.inputs .inputBar {
  position: relative;
  display: block;
  margin:0 auto;
}
.inputs .inputBar:before,
.inputs .inputBar:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: 0;
  background: $lblue;
  height: 1px;
  @include transition(all 0.6s ease);
}
.inputs .inputBar:after {
  right: 50%;
}
.inputs .inputBar:before {
  left: 50%;
}
h2 {
	font-weight:100;
	margin:0;
}
h3 {
	font-weight:100;
	text-align:center;
}
.line {
     overflow: hidden;
}
.line > span{
    position: relative;
    display: inline-block;
}
.line > span:before, .line > span:after{
    content: '';
    position: absolute;
    top: 43%;
    border-bottom: 2px solid #353637;
	width: 1.25rem;
}
.line > span:before{
    right: 100%;
    margin: 0 17px;
}
.line > span:after{
    left: 100%;
    margin: 0 10px;
}
p {
	color:#252627;
	margin:0;
}
.clearfix {
	clear:both;
}
.popup_project {
	max-width: 1000px;
	background-color: $offwhite;
	overflow: hidden;
	padding-bottom: 1rem;
	.prjctImgWrap {
		width: 90%;
	}
	img{
		width:100%;
	}
	h1 {
		font-weight:100;
		text-align: center;
		letter-spacing: -1px;
   	  	color:#252627;
    }
    h2 {
		font-family: 'Julius Sans One', sans-serif;
		text-align: center;
		letter-spacing: 1px;
	}
	p {
		text-align: center;
		width: 90%;
		margin: 0 auto;
		line-height: 1.3rem;
		padding-bottom: 1.25rem;
		letter-spacing: 1px;
	}
	.btnWrpr a, .btnWrprSngl a {
		text-decoration: none;
		color: $offwhite;
		border: 1px solid transparent;
		background-color: $drkrgrey;
		@include transition(all 0.3s ease);
	}
	.btnWrpr a:hover, .btnWrprSngl a:hover {
		color: $lblue;
		border: 1px solid $lblue;
		background-color: $drkrgrey;
	}
}
.mfp-close {
	@include transition(all 0.3s ease);
}

/*Font Awesome Font Icons*/

@font-face {
  font-family: 'FontAwesome';
  src: url('/fonts/fontawesome-webfont.eot?v=4.5.0');
  src: url('/fonts/fontawesome-webfont.eot?#iefix&v=4.5.0') format('embedded-opentype'), url('/fonts/fontawesome-webfont.woff2?v=4.5.0') format('woff2'), url('/fonts/fontawesome-webfont.woff?v=4.5.0') format('woff'), url('/fonts/fontawesome-webfont.ttf?v=4.5.0') format('truetype'), url('/fonts/fontawesome-webfont.svg?v=4.5.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fa-lg {
  font-size: 1.33333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}
.quote-left:before {
  content: "\f10d";
}
.quote-right:before {
  content: "\f10e";
}
.facebook:before {
  content: "\f09a";
}
.instagram:before {
  content: "\f16d";
}
.linkedin:before {
  content: "\f0e1";
}
.bitbucket:before {
  content: "\f171";
}
.codepen:before {
  content: "\f1cb";
}
.user:before {
  content: "\f007";
}
.envelope-o:before {
  content: "\f003";
}
.question:before {
  content: "\f128";
}
.question-circle:before {
  content: "\f059";
}
.comment-o:before {
  content: "\f0e5";
}
.paper-plane-o:before {
  content: "\f1d9";
}
.check-square-o:before {
  content: "\f046";
}
.exclamation-triangle:before {
  content: "\f071";
}







